@font-face {
    font-family: ClashGrotesk;
    src: url(font\ClashGotesk.woff) format('.woff');
}
font{
    font-family: ClashGrotesk, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.removestyle{
    font-family: ClashGrotesk, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}
.navigation{
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
}
.shadow{
    box-shadow: 5px 5px 10px black;
}
.hover-anim:hover{
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}
.divider{
    border-top: 2px solid;
    border-radius: 2px;
    border-color: black;
}
.hiddensplash{
    display: none;
    width: 50%;
    height: 0px;
}
.hiddensplash:after{
    opacity: 0;
    position: fixed;
    overflow: none;
    box-shadow: 5px 5px 10px black;
    content: "** HIDDEN FEATURE UNLOCKED **";
    text-align: center;
    justify-items: middle;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1000px;
    height: 100px;
    background: #4C585B;
    translate: 25% 50%;
    animation: splash 6s;
}
.jumpscare{
    display: none;
    width: 100%;
    height: 0px;
}
.jumpscare:before{
    opacity: 0;
    margin: 0 auto;
    display: block;
    content: "";
    width: auto;
    height: 100vh;
    background-image: url(img/me-banner.png);
    background-size: 300vh;
    background-position-y: -200px;
    transform: translateY(-600px);
    animation: jumpscare 5s linear;
}
@keyframes splash{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes jumpscare{
    0%{
        opacity: 0;
        height: 0vh;
    }
    1%{
        opacity: 1;
        height: 100vh;
    }
    99%{
        opacity: 1;
        height: 100vh;
    }
    100%{
        opacity: 0;
        height: 0vh;
    }
}