@font-face {
    font-family: ClashGrotesk;
    src: url(font\ClashGotesk.woff) format('woff');
}
font{
    font-family: ClashGrotesk, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.removestyle{
    font-family: ClashGrotesk, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}
.navigation{
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
}
.shadow{
    box-shadow: 5px 5px 10px black;
}
.hover-anim:hover{
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
}